# Environment
.env
*.env.local

# Docker
*.log
tmp/
compose.override.yaml
compose.override.yml
docker-compose.override.yml
docker-compose.override.yaml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build artifacts
*.pyc
__pycache__/
